/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require reset
 *= require gridlex
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
  color: #212529;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

header {
  margin: 0 0 3rem;
  padding: 1.25rem 0;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1.25rem;
}

.grid .post {
  margin-bottom: 1rem;
}

.post-title {
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.post-title a {
  color: #212529;
}

.post-title a:hover {
  color: #228be6;
}

.post-author {
  color: #868e96;
}

.post-votes {
  color: #ced4da;
  text-align: right;
}

.down-vote:hover {
  color: #ffe3e3;
  cursor: pointer;
}

.up-vote:hover {
  color: #d3f9d8;
  cursor: pointer;
}

.post-body {}

.logo {
  color: #228be6;
  font-size: 3rem;
}

.user {
  color: #868e96;
  text-align: right;
}